<!-- promo-banner.component.html -->
<div class="promo-bar">
  <p>
    Summer Sale For All Swim Suits And Free Express Delivery - OFF 50%!
    <a href="#" class="shop-now">ShopNow</a>
  </p>

  <div class="language-selector" (click)="toggleDropdown()">
    {{ selectedLanguage }}
    <span class="material-icons">arrow_drop_down</span>

    <ul *ngIf="dropdownOpen" class="language-dropdown">
      <li (click)="selectLanguage('English')">English</li>
      <li (click)="selectLanguage('Hindi')">Hindi</li>
      <li (click)="selectLanguage('Marathi')">Marathi</li>
    </ul>
  </div>
</div>
