<footer class="footer">
  <div class="footer-container">
    <!-- Exclusive -->
    <div class="footer-column">
      <h3>Exclusive</h3>
      <p class="footer-subtitle">Subscribe</p>
      <p class="footer-note">Get 10% off your first order</p>
      <div class="footer-input-group">
        <input type="email" placeholder="Enter your email" />
        <button>➤</button>
      </div>
    </div>

    <!-- Support -->
    <div class="footer-column">
      <h3>Support</h3>
      <p>111 Bijoy sarani, Dhaka,<br />DH 1515, Bangladesh.</p>
      <p>{{ "exclusive@gmail.com" }}</p>
      <p>+88015-88888-9999</p>
    </div>

    <!-- Account -->
    <div class="footer-column">
      <h3>Account</h3>
      <ul>
        <li>My Account</li>
        <li>Login / Register</li>
        <li>Cart</li>
        <li>Wishlist</li>
        <li>Shop</li>
      </ul>
    </div>

    <!-- Quick Link -->
    <div class="footer-column">
      <h3>Quick Link</h3>
      <ul>
        <li>Privacy Policy</li>
        <li>Terms Of Use</li>
        <li>FAQ</li>
        <li>Contact</li>
      </ul>
    </div>

    <!-- Download App -->
    <div class="footer-column">
      <h3>Download App</h3>
      <p class="footer-note">Save $3 with App New User Only</p>
      <div class="footer-app">
        <img
          src="../../../../assets/images/qrcode.png"
          alt="QR Code"
          class="qr"
        />
        <div>
          <img
            src="https://play.google.com/intl/en_us/badges/static/images/badges/en_badge_web_generic.png"
            alt="Google Play"
            class="badge"
          />
          <img
            src="https://developer.apple.com/assets/elements/badges/download-on-the-app-store.svg"
            alt="App Store"
            class="badge"
          />
        </div>
      </div>
      <div class="footer-socials">
        <i class="fa-brands fa-facebook-f"></i>
        <i class="fab fa-twitter"></i>
        <i class="fab fa-instagram"></i>
        <i class="fa-brands fa-linkedin-in"></i>
      </div>
    </div>
  </div>
  <hr class="footerdivider" />
  <div class="footer-bottom">© Copyright Rimel 2022. All right reserved</div>
</footer>
